.element__group {
  background-color: #ffffff;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}