.profile__avatar {
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 613px) {
  .profile__avatar {
    display: flex;
    justify-self: center;
  }
}